<div class="cont-<%= message.user.id %>">
  <div class="message-box msg-<%= message.user.id %> " >

    <% @user = User.find(message.user_id) %>
    <h6 class="name"> <%= get_username(@user.email) %> </h6>
    <%= message.content %>
  </div>
</div>