<nav>
  <% if current_user %>
    <div class="navbar-container">
      <nav class="navbar">
        <%= image_tag "logo.png", :id => "navbar-logo", :length => "50", :width => "50" %>
        <%= link_to "Friend Requests", notfications_path, :class => "button is-text" %>
        <%= link_to "Home", root_path, :class => "button is-text" %>
        <%= link_to "Conversations", conversations_path, :class => "button is-text" %>
      </nav>
    </div>
  <% end %>
</nav>

<style>
  a, .button { 
    font-size: 1.25em;
  }
</style>