<h1> You swiped everyone on the whole ass platform :< </h1>
<%= image_tag "heheheha.jpg" %>
<p> Name: Some Idiot </p>
    <p> Year: Held Back </p>
    <p> Major: Dumb People Studies </p>
    <p> College: Uneducation University </p>
